<?xml version="1.0"?>
<configuration>
   <connectionStrings>
    <add name="DBConnection" connectionString="Data Source=3F-54-94\SQLEXPRESS;Initial Catalog=Antibiotic;Persist Security Info=True;User ID=sa;Password=1234"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime requestValidationMode="2.0"/>
  <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" stateNetworkTimeout="20"  cookieless="false" timeout="20"/>
  </system.web>
</configuration>